# Node
node_modules/
frontend/node_modules/

# Vite build
frontend/dist/

# Python
__pycache__/
*.py[cod]
backend/venv/
backend/.venv/
venv/

# Environment variables / secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log


# Database dumps
backend/*.sql